.main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    color: #155DFC;
}

.section__link {
    color: #155DFC;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;

}

.banner {
    background: linear-gradient(135deg, #1e40af 0%, #3b82f6 100%);
    border-radius: 16px;
    padding: 21px 40px;
    color: white;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    overflow: hidden;
}

.banner__content {
    position: relative;
    z-index: 2;
}

.banner__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0;

    margin-bottom: 12px;
}

.banner__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #DBEAFE;
    margin-bottom: 24px;
}

.banner__actions {
    display: flex;
    gap: 16px;
}

.btn {
    padding: 16px 28px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;

    cursor: pointer;
    border: none;
    box-shadow: 0 4px 6px -4px #0000001A;;
}

.btn--white {
    background-color: white;
    color: #155DFC;
}

.btn--outline-white {
    background-color: transparent;
    color: white;
    border: 1px solid #FFFFFF
}

/* ================= RECOMMENDATIONS ================= */
.recommendations__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

